:root {
  font-family: 'Montserrat', Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.img-bg {
  background-image: url('../src/assets/images/img-bg.jpg');
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 200px;
}
.img-bg--formulario {
  background-image: url('../src/assets/images/img-bg.jpg');
}
.img-bg--home {
  background-image: url('../src/assets/images/img-bg-home.jpg');
  height: 45vh;
  background-position: center;
}

.formulario {
  background: white;
  width: 100%;
  min-height: 600px;
  height: 100%;
  border-radius: 18px;
  display: flex;
  box-shadow: 0px 0px 26px 0px rgb(0 2 2)
}

.formulario--login .formulario__contenido{
  padding: 50px;
}
.formulario--login .formulario__bajada{
  margin-bottom: 50px;
}

.formulario__imagen {
  flex: 1 2 55%; 
  padding: 40px;
  background-image: url('../src/assets/images/img-bg.jpg');
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 16px;
  background-position: 36% 36%;
  background-size: cover;
  
  border-top-left-radius: 22px;
  border-top-right-radius: 28px;
  border-bottom-left-radius: 22px;
  border-bottom-right-radius: 28px;
  filter: brightness(1.6);
  border: 10px solid #FFF;
}
.formulario__imagen h3{
  text-transform: uppercase;
  font-size: 32px;
  line-height: normal;
  white-space: break-spaces;
}
.formulario__imagen p{
  font-size: 13px;
  line-height: 22px;
}
.formulario__imagen p b{
  text-decoration: underline;
}

.formulario__contenido {
  flex: 1 2 45%;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
}

.formulario__titulo{
  margin-bottom: 8px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  color: #064150;
  text-align: center;
  border-bottom: 1px solid #CECECE;
  padding: 14px 0;
}

.formulario--registro .formulario__titulo{
  margin-bottom: 24px;
}

.formulario__bajada{
  margin: 9px 0 36px;
  text-align: center;
  font-size: 14px;
  color: #5e5e5e;
}
.formulario__contenedor-input + .formulario__contenedor-input{
  margin-top: 10px;
  
}

.formulario__contenedor-input label{
  display: block;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: #6d6d6d;
  font-size: 10px;
  font-weight: 600;
}
.formulario__contenedor-input input{
  width: 100%;
  height: 40px;
  padding: 6px 24px;
  border-radius: 6px;
  border: 1px solid #a5a5a5;
}
.formulario__contenedor-input ul {
  margin-top: 8px;
  list-style-position: inside;
}
.formulario__contenedor-input li{
  font-size: 10px;
}


.formulario__contenedor-accion{
  margin: 28px 0;
}

.formulario__contenedor-accion button{
  width: 100%;
  display: block;
  height: 48px;
  padding: 4px 16px;
  border-radius: 8px;
  border: 0;
  background: #064150;
  text-transform: uppercase;
  color: #FFF;
  font-weight: 500;
  font-size: 10px;
}
.formulario__contenedor-accion button:disabled {
  border: 0;
  background: #b5b5b5;
  color: #FFF;
  cursor: not-allowed;
}

header{
  padding: 16px;
  text-align: center;
  background: #FFFFFF;
  color: #064150;
  text-transform: uppercase;
  font-weight: 600;
}

section{
  height: 50vh;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  justify-content: center;
  gap: 16px;

}

@media screen and (min-width: 600px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1024px) {
  section {
    grid-template-columns: repeat(4, 1fr);
  }
}
section > div{

  border: 1px solid #CECECE;
  padding: 16px;
  border-radius: 8px;
  min-height: 100px;

}
section small{
  font-size: 65%;
  text-transform: uppercase;
  display: block;
}
section b {
  text-transform: uppercase;
  display: block;
  font-size: 16px;
}



.formulario__mensaje{
  text-align: center;
  padding: 6px 12px;
  border-radius: 6px;
  margin-top: 12px;
  font-size: smaller;
}
.formulario__mensaje--error{
  background: #ffe8ea;
  color: #721c24;
}

.container{
  width: 100%;
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}
.header__user{
  width: fit-content;
  margin-left: auto;
}
.header__user  small{
  display: block;
}
.header__user  button{
  background: none;
  display: inline-block;
  padding: 4px 16px;
  border: 0;
  text-decoration: underline;
  color: #064150;
  font-weight: 500;
  font-size: 11px;
  cursor: pointer;
}
